@model CreateLoginDto
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <form method="post">
        <label>Username</label>
        <input type="text" asp-for="UserName" class="form-control" />

        <br /><label>Password</label>
        <input type="text" asp-for="Password" class="form-control" />
        <button class="btn btn-primary">Log in</button>
        <br />
    </form>
</div>
